.App {
  text-align: center;
}

.submit{
  margin-top: 60px;
  margin-left: auto;
  color: rgb(13, 100, 35);
  font-weight: bold;
  width:fit-content;
  height: 50px;
  font-size: x-large;
}
.joke {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
 font-size: xx-large;
 background-color: rgb(183, 200, 231);

}
.jokeres{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  margin-top: 20px;
  background-color: rgb(183, 200, 231);
}